.App {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.short-url-display {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.short-url-display a {
    color: #007bff;
    text-decoration: none;
}
